
#slack{
    color: blue;
}

 #profile__img {
    border-radius: 60%;
    width: 150px;
    height: 150px;
  }

  #pic1{
    border-radius: 60%;
    width: 40px;
    height: 40px;
  }

  #pic2{
    border-radius: 60%;
    width: 40px;
    height: 40px;
  }

  #twitter{
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 100%;
  }

  #btn__zuri{
        background-color: #ddd;
        border: none;
        color: black;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 16px;
        width: 100%;
    }

  #books{
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 100%;
  }

  #book__python{
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 100%;
  }

  #pitch{
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 100%;
  }

  #book__design{
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 100%;
  }

  #contact{
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 100%;
  }

  #first_name {
    padding: 10px 20px;
    border-radius: 50px;
    margin: 4px 2px;
    border: 1px solid #ccc;
    width: 40%;
  }

  #last_name {
    padding: 10px 20px;
    border-radius: 50px;
    margin: 4px 2px;
    border: 1px solid #ccc;
    width: 40%;
  }

  #email {
    padding: 10px 20px;
    border-radius: 50px;
    width: 100%;
    margin: 4px 2px;
    border: 1px solid #ccc;
  }

  #message {
    padding: 10px 20px;
    width: 100%;
    margin: 4px 2px;
    box-sizing: border-box;
    border: 1px solid #ccc;
  }

  #btn__submit {
    padding: 10px 20px;
    border-radius: 50px;
    width: 100%;
    margin: 4px 2px;
    background-color: blue;
  }

  #test{
    display: inline;
  }

  .label{
    display: block;
  }
